@page "/working-example"
@using BlazorFluentValidation.Shared

<h1>Hello, world!</h1>

<h1>Blazored FluentValidation Validation - Working Example</h1>

<a href="/">Not Working Example!</a>

<hr class="mb-5" />

<EditForm Model="@Person" id="@MyID">
    <FluentValidationValidator />

    <div class="form-group">
        <label>First Name: </label>
        <InputText @bind-Value="@Person.FirstName" class="form-control" />
        <ValidationMessage For="@(() => Person.FirstName)" />
    </div>

    <div class="form-group">
        <label>Last Name: </label>
        <InputText @bind-Value="@Person.LastName" class="form-control" />
        <ValidationMessage For="@(() => Person.LastName)" />
    </div>

    <div class="form-group">
        <label>Address List: </label>
        @foreach (var address in Person.Adresses)
        {
            <p>- @address.City, @address.Country</p>
        }
    </div>

    <hr />
</EditForm>

<EditForm Model="@NewAddress">
    <p>Add Address</p>
    <FluentValidationValidator Validator="AddressValidator" />
    <div class="form-group">
        <label>City: </label>
        <InputText @bind-Value="@NewAddress.City" class="form-control" />
        <ValidationMessage For="@(() => NewAddress.City)" />
    </div>
    <div class="form-group">
        <label>Country: </label>
        <InputText @bind-Value="@NewAddress.Country" class="form-control" />
        <ValidationMessage For="@(() => NewAddress.Country)" />
    </div>

    <button @onclick="AddAddress">Add Address</button>

    <hr />
</EditForm>

<button type="submit" form="@MyID">Save</button>

@if (isValid)
{
    <div class="alert alert-success" role="alert">
        Oh wow! I'm valid!
    </div>
}

@code {
    private string MyID = "myid";
    Person Person { get; set; } = new Person();
    Address NewAddress { get; set; } = new Address();

    AddressValidator AddressValidator = new AddressValidator();

    bool isValid { get; set; } = false;

    public void AddAddress()
    {
        var result = AddressValidator.Validate(NewAddress);

        if (!result.IsValid)
        {
            isValid = false;
            return;
        }

        Person.Adresses.Add(NewAddress);
        NewAddress = new Address();
        isValid = true;
    }
}